body{
background: #3c3c50;
padding:10px;
display: grid;
place-items: center;
height: 50vh;
margin: 0;
}
pre {
color: white;
background: #282828;
padding: 10px;
border-radius:15px;
text-align:center;
width:200px;
height:30px;
padding-top:20px;
}
input[type="text"]{
	border:2px solid black;
	padding:15px;
	border-radius:10px 0px 0px 10px;
	outline:none;
	color:black;
	font-size:15px;
	}
	input[type="text"]::placeholder{
		color:black;
		}
	input[type="submit"]{
		background:black;
		color:white;
		outline:none;
		border-radius:0px 10px 10px 0px;
		padding:17px;
		margin-left:-5px;
		border:none;
		}
